*{
    margin: 0;
    padding: 0;
    color: black;
}

.header {
    padding: 20px;
    padding-left: 80px;
    text-transform: uppercase;
font-size: 0.8em;
}

.a {
    text-decoration: none;

}
.headerbottom{
    padding-top: 10px;

}

.selectinput{
    padding:10px ;
    width: 200px;
}
.search{
    width: 300px;
}
.fa{
    background-color: #002f34;
    color:#fff ;
    padding: 12px;
    border-radius: 5px;
}